/*Tablet-upwards Specific Styles*/
@media all and (min-width:768px){

    html, body, p {

        font-size:17px;
    }


    /* header */

    .page-header {

        margin-top:1.5em;

    }



    .navbar-brand {
        position:static;
        left:0;
        transform: none;
        padding-left:1em;
    }

    /*search buttons*/
    .sd-form-button-container {
        display:inline-block;

    }

    .sdform-adv-btn-go {
        width:140px;
        display:inline-block;
        margin:0;
    }

    .sdform-adv-btn-reset {

        width:80px;
        display:inline-block;
        margin:0;

    }

 
    .sdform-adv-btn-reset {
        line-height:1.765rem;

    }   

    sd-form form {

        padding-top:2em;
        margin-bottom: 4em;
        border-radius:6px;

    }

    sd-form form .sdform-advanced-container > .col-sm-offset-1:first-child {
        display:block;
    }

     sd-form form .sdform-advanced-container > .col-sm-offset-1 {
         margin-left:2%;
     }

    .sdform-adv-does, 
    .sdform-adv-affect,
    .sdform-adv-question
    {
        padding:10px 10px 10px 10px !important;
        width:10%;
        text-align:center !important;
    }


    .sdform-adv-question {
        display:block;
    }
 


    .results-container {
        margin-left:0;
        margin-right:0;
    }



    /*filter*/
    .result-filter-item-category-container:before {
        content:none;
    }


    .result-filter-item-value:before {
        content: "\e080";
        display:block;
        position:absolute;
        left: -24px;
        top: 0.52em;
        font-family: 'Glyphicons Halflings';
        font-weight:bold;
        font-size:1.18em;

    }

    .result-filter-item-category-container,
    .result-filter-item-value-container {
        margin-bottom:0;
    }

    .result-filter-button-group-container {
        text-align:left;
    }


    /*results sets*/
    .direct-search-res-intervention,
    .direct-search-res-assayed
    {

        padding-left:3em;
        padding-right:15px;
        text-align:left;
        width:auto;
        max-width:33%;

    }


    .direct-search-res-intervention-icons,
    .direct-search-res-assay-icons {
        font-size:2em;
        position:relative;
        top: -0.1em;
        margin-right:8px;
        margin-left:-1.2em;
        float:left;
    }

    .direct-search-res-arrow  {

        width:16.6666667%;
        padding-left:15px;
        padding-right:15px;
        top: -1.1em;

    }

    .arrow-icon-container .sd-icon-3-arrow  {

        font-size: 2.8em;
        line-height: 0.6em;
        color:#777;
        padding-left:8px;


    }



    /*utility classes*/
    .sd-mobileshow {display:none;}
    .sd-mobilehide {display:block;}

}
/*end of media query*/

 /*prevent subcellular structures from breaking the layout on medium screens*/
/*@media only screen and (max-width:1200px) and (min-width:1000px){
    .sdform-advanced-container .col-sm-4 {
        width:40%;
    }

    .sdform-advanced-container .col-sm-offset-1 {
        margin-left:0;
    }

    sd-form form > .col-md-2 {

        width:20%;
    }

 
    .sdform-adv-question {
        width:10px;
    }

    .sdform-adv-affect {
        padding:10px 0.4% !important;
    }
}*/
/* end of media query */