<!--
/************************ LICENCE ***************************
* 	This file is part of <SourceData SmartFigure frontend code to search and navigate the SourceData resource>
*     Copyright (C) <2016>  EMBO and Swiss Institute of Bioinformatics
*
*     This program is free software: you can redistribute it and/or modify
*     it under the terms of the GNU Affero General Public License as
*     published by the Free Software Foundation, either version 3 of the
*     License, or (at your option) any later version.
*
*     This program is distributed in the hope that it will be useful,
*     but WITHOUT ANY WARRANTY; without even the implied warranty of
*     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
*     GNU Affero General Public License for more details.
*
*     You should have received a copy of the GNU Affero General Public License
*    along with this program.  If not, see <http://www.gnu.org/licenses/>
*
*****************************************************************/
-->

<!doctype html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
	<base href='/'>
    <title>SourceData</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/angular-carousel/dist/angular-carousel.css" />
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="bower_components/angular-toastr/dist/angular-toastr.css" />
    <link rel="stylesheet" href="bower_components/components-font-awesome/css/font-awesome.css" />
    <link rel="stylesheet" href="bower_components/angular-ui-select/dist/select.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <link rel="stylesheet" href="styles/tag.css">
    <link rel="stylesheet" href="styles/list.css">
      <link rel="stylesheet" href="styles/sd-style-1.css">
      <link rel="stylesheet" href="styles/sd-style-2.css">
      <link rel="stylesheet" href="styles/sd-style-3.css">
      <link rel="stylesheet" href="styles/embo-custom-style.css">
      <link rel="stylesheet" href="styles/embo-custom-style-tablet.css">
      <link rel="stylesheet" href="styles/embo-custom-style-desktop.css">
    <!-- endbuild -->
  </head>
  <body ng-app="publicSourcedataApp">
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- Add your site or application content here -->
    <header class="header public-ng-header" ng-if = 'showHeader'>
    <!-- Static navbar -->
    <nav class="navbar navbar-default navbar-static-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span >MENU</span>
          </button>
          <a href="http://sourcedata.embo.org" target = '_blank' class="navbar-brand"><img ng-src = '{{baseURL}}images/sourcedata_logo.png' style='height:70px; width:auto;'/></a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
                <li><a href = '/' access = 'active'>Home</a></li>
                <li><a href="http://sourcedata.embo.org" target="blank">About</a></li>
                <li><a href="/list" tooltip = 'List of processed papers in the SourceData compendium' tooltip-placement = 'bottom' access = 'active'>List of papers</a></li>
                <li><a ng-href="/api" access = 'active'>API</a></li>
                <li><a href = 'http://sourcedata.vital-it.ch'>Curation interface</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
        <!-- <h3 class="text-muted"><img ng-src = '{{baseURL}}images/icon_SD.png' height = '32' style = 'margin-right: 8px;'/>EMBO - Sourcedata</h3> -->
    </header>
    <div class="container-fluid">
	  <div class="body" ng-view=""></div>
    </div>


    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
     <script>
       (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
       (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
       m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
       })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

       ga('create', 'UA-56264915-1');
       ga('send', 'pageview');
    </script>

    <!-- build:js(.) scripts/oldieshim.js -->
    <!--[if lt IE 9]>
    <script src="bower_components/es5-shim/es5-shim.js"></script>
    <script src="bower_components/json3/lib/json3.js"></script>
    <![endif]-->
    <!-- endbuild -->

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <script src="bower_components/angular-carousel/dist/angular-carousel.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-local-storage/dist/angular-local-storage.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/d3/d3.js"></script>
    <script src="bower_components/lodash/lodash.js"></script>
    <script src="bower_components/restangular/dist/restangular.js"></script>
    <script src="bower_components/angular-clipboard/angular-clipboard.js"></script>
    <script src="bower_components/angular-toastr/dist/angular-toastr.tpls.js"></script>
    <script src="bower_components/angular-ui-select/dist/select.js"></script>
    <!-- endbower -->
    <!-- endbuild -->
        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <script src="bower_components/bootstrap-tour/build/js/bootstrap-tour.min.js"></script>
        <script src="scripts/thirdParties.js" type="text/javascript" charset="utf-8"></script>
        <script src="scripts/config.js"></script>
        <script src="scripts/app.js"></script>
        <script src="scripts/controllers/main.js"></script>
        <script src="scripts/controllers/about.js"></script>
        <script src="scripts/controllers/form.js"></script>
        <script src="scripts/services/search.js"></script>
        <script src="scripts/services/filter.js"></script>
        <script src="scripts/directives/direct-search-result.js"></script>
        <script src="scripts/directives/filter-results.js"></script>
        <script src="scripts/directives/graph-history.js" type="text/javascript" charset="utf-8"></script>

        <script src="scripts/controllers/panel.js"></script>
        <script src="scripts/filters/tagfilters.js"></script>
        <script src="scripts/services/navigation.js"></script>
        <script src="scripts/controllers/figure.js"></script>
        <script src="scripts/directives/compilecaption.js"></script>
        <script src="scripts/directives/sdtag.js"></script>
        <script src="scripts/directives/sd-form.js"></script>
        <script src="scripts/directives/nav-figure-in-paper.js"></script>
        <script src="scripts/services/authentication.js"></script>
        <script src="scripts/services/authorization.js"></script>
        <script src="scripts/services/base64.js"></script>
        <script src="scripts/services/user.js"></script>
        <script src="scripts/controllers/forgetpassword.js"></script>
        <script src="scripts/controllers/login.js"></script>
        <script src="scripts/controllers/register.js"></script>
        <script src="scripts/controllers/setnewpassword.js"></script>
        <script src="scripts/controllers/validationrequired.js"></script>
        <script src="scripts/controllers/user.js"></script>
        <script src="scripts/controllers/annotation.js"></script>
        <!-- <script src="scripts/controllers/test.js"></script> -->
        <script src="scripts/directives/access.js"></script>
        <script src="scripts/filters/main.js"></script>
        <script src="scripts/controllers/list.js"></script>
        <!-- endbuild -->
</body>
</html>
