<!--
/************************ LICENCE ***************************
* 	This file is part of <SourceData SmartFigure frontend code to search and navigate the SourceData resource>
*     Copyright (C) <2016>  EMBO and Swiss Institute of Bioinformatics
*
*     This program is free software: you can redistribute it and/or modify
*     it under the terms of the GNU Affero General Public License as
*     published by the Free Software Foundation, either version 3 of the
*     License, or (at your option) any later version.
*
*     This program is distributed in the hope that it will be useful,
*     but WITHOUT ANY WARRANTY; without even the implied warranty of
*     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
*     GNU Affero General Public License for more details.
*
*     You should have received a copy of the GNU Affero General Public License
*    along with this program.  If not, see <http://www.gnu.org/licenses/>
*
*****************************************************************/
-->
<h3 class = 'page-header search-result-header' layout="row" style="text-align: center">Data search</h3>

<!--FORM -->
<sd-form search-params='searchParams' on-form-submit='formSubmit()'></sd-form>

<!--RESULTS -->
<div class='container-fluid results-container' ng-if="searchParams.result" style="margin-top: 20px">

    <div ng-if='searchParams.result && searchParams.done' class='result-filter-container'>
        <!--RESULTS COUNT AND DESCRIPTION-->
        <div class="row">
            <div class="col-lg-1"><h4 class="results-title">Results</h4></div>
            <div class="col-lg-11" style="margin-top: 9px"> <p class='result-filter-summary' style="padding-left:15px" compile="searchParams.summary.phrase"></p></div>
        </div>
        <!--FILTERS -->
        <div class="panel panel-primary result-filters" >
            <div class="panel-body">
                <div class="row" >
                    <div ng-if="!searchParams.result.shortestPath.length">
                        <div class="col-lg-2 result-filter-text-container">
                            <span> Filter results </span>
                        </div>
                        <div class="col-lg-10">
                            <div ng-repeat="subitem in filtercollection.subitems" class='result-filter-item-container'>
                                <filter-results style="padding: 20px;"
                                                parentindex="$index"
                                                render="1"
                                                remove-filter-item="removeFilterItem(i,type, currFilt)"
                                                add-new-filter-item="addNewFilterItem()"
                                                apply-filter="applyFilter(currFilt)"
                                                track-selections="trackSelections(currFilt)">
                                </filter-results>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>


    <direct-search-result type='direct'
                          ng-repeat='(idx, result) in searchParams.displayedResult'
                          index='idx'
                          result='result'>
    </direct-search-result>
    <path-search-result type='path' ng-repeat='step in searchParams.result.shortestPath'
                        ng-if='searchParams.result.direct.length == 0 && searchParams.action == "connect"'
                        step='step' first='{{$first}}'>

    </path-search-result>

    <div ng-if='!searchParams.result.direct.length && !searchParams.result.shortestPath.length && searchParams.done'
         class='alert alert-info alert-no-results'>Sorry, no result found.
    </div>
    <div ng-if='searchParams.loading' class='alert alert-info alert-results-wait'>Searching. Please wait...</div>

</div>


